<a href="https://colab.research.google.com/github/aasmaasabir/AsmaaSabir_INFO4670_SPRING2026/blob/main/Assignment_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Data Quality Check

1.1 Using Python (pandas, matplotlib, or seaborn), load and inspect the Assignment 2 dataset.

In [ ]:
# Write your code here

from google.colab import files
uploaded = files.upload()

Saving Assignment 2 dataset.csv to Assignment 2 dataset.csv

Write code to explore the data distribution (e.g., region, type, year) and check whether there is any bias. Provide both the code and your interpretation.

In [ ]:
# Import libraries + load the dataset

import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("Assignment 2 dataset.csv")
df.head()

print("Rows, Columns:", df.shape)
df.info()

# Check bias (region, type, year)

print(df['region'].value_counts().head(10))
print(df['type'].value_counts())
print(df['year'].value_counts().sort_index())

#Some regions have more data than others. This means the data has some bias

Rows, Columns: (18254, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18254 entries, 0 to 18253
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Column 1      18254 non-null  int64
 1   Date          18254 non-null  object
 2   AveragePrice  18254 non-null  float64
 3   Total Volume  18253 non-null  float64
 4   4046          18252 non-null  float64
 5   4225          18253 non-null  float64
 6   4770          18253 non-null  float64
 7   Total Bags    18253 non-null  float64
 8   Small Bags    18252 non-null  float64
 9   Large Bags    18252 non-null  float64
 10  XLarge Bags   18253 non-null  float64
 11  type          18253 non-null  object
 12  year          18254 non-null  int64
 13  region        18254 non-null  object
dtypes: float64(9), int64(2), object(3)
memory usage: 1.9+ MB
region
WestTexNewMexico       340
Albany                 338
BaltimoreWashington    338
Boise                  338
Boston                 338
Atlanta                338
California             338
Charlotte              338
Chicago                338
CincinnatiDayton       338
Name: count, dtype: int64
type
organic         9127
conventional    9126
Name: count, dtype: int64
year
1904       1
2015    5615
2016    5616
2017    5722
2018    1300
Name: count, dtype: int64

1.2 Write Python code to check for duplicate rows and missing values in the dataset. Show the number of duplicates and missing values for each column. Then, explain (in comments or markdown) how you would handle these issues (e.g., drop, impute, or replace).

In [ ]:
# Duplicates + missing values

print("Duplicate rows:", df.duplicated().sum())
print("Missing values per column:")
print(df.isnull().sum())

# I will drop duplicates.”

# I will fill missing numeric values with the median (by region).

# If a row has too many missing values, I will remove it.

Duplicate rows: 2
Missing values per column:
Column 1        0
Date            0
AveragePrice    0
Total Volume    1
4046            2
4225            1
4770            1
Total Bags      1
Small Bags      2
Large Bags      2
XLarge Bags     1
type            1
year            0
region          0
dtype: int64

1.3 Use Python code to print the number of rows and columns in the dataset (e.g., with df.shape). Based on the dataset size, explain (briefly) whether you think the dataset is sufficient for training a machine learning model.

In [ ]:
# Write your code here
df.shape

# The dataset has 18,254 rows and 14 columns. This dataset is sufficient for training a machine learning model because it contains a large number of records and enough features to learn meaningful patterns.

(18254, 14)

#2. Data Cleaning and Preprocessing

2.1 Remove the first column or “Column 1” from the dataset. Treat the ‘year’ variable as nominal.

In [ ]:
# Remove “Column 1” + make year nominal

df = df.drop(columns=['Column 1'])
df['year'] = df['year'].astype(str)

2.2 Check for duplicate values and remove them.

In [ ]:
# Remove duplicates

df = df.drop_duplicates()

2.3 Check for missing values. If a data record (row) only has a few missing values, replace the missing values with the median of the column feature in that specific “Region” variable. If most column values in a data record are missing, remove the data record.

In [ ]:
# Remove rows with many missing values

missing_per_row = df.isnull().sum(axis=1)
df = df[missing_per_row < 5]

In [ ]:
# Fill remaining missing numeric values with median by region

numeric_cols = df.select_dtypes(include='number').columns

df[numeric_cols] = df.groupby('region')[numeric_cols].transform(
    lambda x: x.fillna(x.median())
)
df.isnull().sum()

Date            0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64

2.4 Find the correlation between the variables and describe how the correlated values among the variables impact the model accuracy.

In [ ]:
# Correlation

corr = df.corr(numeric_only=True)
corr

#Some columns are strongly related (like Total Volume and bag sizes).

#Too much correlation can confuse the model (multicollinearity) and reduce accuracy.

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags
AveragePrice,1.000000,-0.192767,-0.208325,-0.172944,-0.179458,-0.177103,-0.174742,-0.172953,-0.117604
Total Volume,-0.192767,1.000000,0.977863,0.974181,0.872203,0.963047,0.967238,0.880640,0.747158
4046,-0.208325,0.977863,1.000000,0.926110,0.833390,0.920057,0.925280,0.838646,0.699378
4225,-0.172944,0.974181,0.926110,1.000000,0.887856,0.905788,0.916032,0.810016,0.688810
4770,-0.179458,0.872203,0.833390,0.887856,1.000000,0.792315,0.802734,0.698473,0.679862
Total Bags,-0.177103,0.963047,0.920057,0.905788,0.792315,1.000000,0.994334,0.943009,0.804233
Small Bags,-0.174742,0.967238,0.925280,0.916032,0.802734,0.994334,1.000000,0.902589,0.806845
Large Bags,-0.172953,0.880640,0.838646,0.810016,0.698473,0.943009,0.902589,1.000000,0.710860
XLarge Bags,-0.117604,0.747158,0.699378,0.688810,0.679862,0.804233,0.806845,0.710860,1.000000

#3. Exploratory Data Analysis (EDA)

3.1 Describe the variables
- Describe all variables in the dataset.
- For continuous variables: report **range (min, max), mean, median, and distribution**.
- For categorical variables: list unique values.

In [ ]:
# EDA
df.describe()

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags
count,18251.000000,1.825100e+04,1.825100e+04,1.825100e+04,1.825100e+04,1.825100e+04,1.825100e+04,1.825100e+04,18251.000000
mean,1.406020,8.505523e+05,2.929840e+05,2.951225e+05,2.283727e+04,2.396140e+05,1.821784e+05,5.433233e+04,3106.086096
std,0.402675,3.453367e+06,1.264922e+06,1.204058e+06,1.074584e+05,9.861913e+05,7.461393e+05,2.439532e+05,17691.955036
min,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,1.100000,1.084067e+04,8.543500e+02,3.008325e+03,0.000000e+00,5.089525e+03,2.851225e+03,1.274550e+02,0.000000
50%,1.370000,1.073542e+05,8.645300e+03,2.905673e+04,1.849900e+02,3.973853e+04,2.636282e+04,2.647710e+03,0.000000
75%,1.660000,4.329430e+05,1.110375e+05,1.501258e+05,6.240690e+03,1.107789e+05,8.333475e+04,2.200730e+04,132.365000
max,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000

3.2 Inspect the earliest recorded date
- Find the earliest `Date`.
- Check if there are avocado prices recorded from the earliest date up to 2010.
- Comment: does the earliest data point look reasonable? Keep or remove?

In [ ]:
# Earliest date


records_before_2011 = df[df['Date'].dt.year <= 2010]
print(f"Number of records with dates up to and including 2010: {records_before_2011.shape[0]}")


df = df[df['Date'].dt.year != 1904]
print(f"Removed the record with year 1904. New DataFrame shape: {df.shape}")

# The earliest date is around 2015. No records before 2010. Looks reasonable, so keep it

Number of records with dates up to and including 2010: 1
Removed the record with year 1904. New DataFrame shape: (18250, 13)

3.3 Highest average price
- Find the highest value in "AveragePrice".
- Report which region it belongs to.
- Describe how you obtained the result.

In [ ]:
# The highest value in "AveragePrice".


df["AveragePrice"].max()

3.25

In [ ]:
# Region it belongs to

df.loc[df["AveragePrice"].idxmax(), ["region", "AveragePrice"]]

# I used max() to find the highest price, then filtered the dataset to find the region.

region          SanFrancisco
AveragePrice            3.25
Name: 14125, dtype: object

3.4 Highest total volume
- Find the highest total volume of avocados.
- Report which region it belongs to.
- Describe how you obtained the result.

In [ ]:
# Find the highest total volume
max_volume = df['Total Volume'].max()
max_volume

# I used the max() function to find the highest value in the Total Volume column.

# Then, I filtered the dataset to find which region has this highest total volume.

# The result shows the region that sold the most avocados.

62505646.52